<div class="editing-page">
    <aside class="editing-page-aside" id="asidebar">
        <div class="editing-page-aside-content">
            <div class="back-to-workspace">
                <img src="../../../../assets/img/back_icon.svg"><a href="/angular/src">Back to workspace</a>
            </div>
            <div class="editing-page-aside-menu">
                <h6 class="editing-page-aside-menu-title">SETTINGS</h6>
                <ul class="editing-page-aside-menu-list">
                    <li class="editing-page-aside-menu-item"><a href="#" class="editing-page-aside-menu-link">Manage Members</a></li>
                    <li class="editing-page-aside-menu-item"><a href="#" class="editing-page-aside-menu-link editing-page-aside-menu-link-active">Leave
                            workspace</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <main class="editing-page-wrapper">
        <div class="editing-page-wrapper-content">
            <div class="editing-page-wrapper-heading">
                <h6 class="editing-page-wrapper-title">Leave workspace</h6>
            </div>
            <div class="leave-workspace-main-content">
                <div class="alert-box">
                    <img src="../../../../assets/img/triangle.svg">
                    <p class="alert-box-text">Are you sure you want to leave workspace? This action cannot be
                        undone.</p>
                </div>
                <div class="leave-workspace-main-content-text">
                    <p class="leave-workspace-info-text">This will take effect immediately. The owner of tour
                        workspace will need to re-enable your account if you would like to rejoin the workspace.
                        Any workspaces you belong to will not be affected.</p>
                    <div class="leave-workspace-main-content-btn-group">
                        <button class="leaveworkspace-btn">Yes, leave workspace</button>
                        <button class="leaveworkspace-cancel-btn">cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="open-asidebar" onclick="openasidebar()">
        <img src="../../../../assets/img/icon_send.svg">
    </div>
</div>
