<div class="page-background2">
<div class="container-fluid">
<div class="row">
  <div class="d-flex flex-row justify-content-center pt-5 mt-5" [routerLink]="['/login']">
    <img src="../../../assets/img/log-new.png" class="img-fluid text-center" style="width: 40px;height: 60%; margin-top: 0.6rem">
    <p class="text-white text-center" style="font-size: 40px; margin-left: 1rem; font-weight: 500">CreatorOS</p>
  </div>
  <div class="col-12 offset-md-2 col-md-8 d-flex flex-row justify-content-center text-white mt-5 mb-3" style="font-size: 14px; font-weight: 400;">
    <span class="text-center">Welcome to CreatorOS, where innovation meets experience in the evolving creator economy.</span>
  </div>
  <div class="col-12 offset-md-2 col-md-8 d-flex flex-row justify-content-center text-white mb-3" style="font-size: 14px; font-weight: 400;">
  <span class="text-center">
    Founded by seasoned builders with a track record of crafting some of the most influential tools in this space,
    our team is driven by a passion for redefining how work is accomplished with creators. Nestled in the
      intersection of technology and creativity, we are on the cusp of unveiling a groundbreaking product that will be
      transformational for the entire industry. Our experienced team, spanning across the United States and India,
      brings together a wealth of perspectives and skills, ensuring a global approach to problem-solving.
      </span>
  </div>
  <div class="col-12 offset-md-2 col-md-8 d-flex flex-row justify-content-center text-white" style="font-size: 14px; font-weight: 400;">
    <span class="text-center">
      This is not just a startup; it's an opportunity to join us early on and play a pivotal role in shaping the future
    landscape of the creator economy. Join COS and be part of a team that is poised to make a lasting impact on
      how creators collaborate, innovate, and thrive in the future.
    </span>
  </div>
  <div class="col-12 offset-md-4 col-md-4  d-flex flex-row justify-content-center text-white position-class padding-class">
    <span class="font-size-12 font-weight-300" style="color: #a9a9a9; font-weight: 500">
      By continuing, you agree to our <a class="font-size-14 text-white text-decoration-none" style="font-weight: 700">Terms of Service</a> and acknowledge that you
      have read our <a class="text-decoration-none font-size-14 text-white" style="font-weight: 700">Privacy Policy</a> to learn how we collect, use, and share your data.
    </span>
  </div>
  </div>
</div>

