<div class="white-background d-flex justify-content-center align-items-center" style="padding: 0px; height: 100vh;overflow: hidden">
  <div class="position-absolute-class">
    <img src="../../../assets/img/graphic-new.svg" class="img-fluid d-none d-md-block" id="background-image2">
    <img src="assets/img/graphic-new.svg" class="img-fluid d-md-none d-lg-none d-xl-none"
         style="overflow: hidden;width: 100%;height: 100vh;">
  </div>
  <div class="text-center d-flex flex-column position-absolute col-12">
    <div class="col-12">
      <img src="assets/img/zollab-new-logo.webp" class="img-fluid" width="160px" height="34px" style="margin-top: 3.9rem;">
    </div>
    <div class="col-12 mt-5">
      <img src="assets/img/graphic.svg" class="img-fluid col-lg-2 col-md-2 col-8">
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center mt-3 col-md-4 offset-md-4 col-10 offset-1">


      <div class="black-btn col-12 col-lg-8 d-flex flex-row justify-content-center align-items-center mt-4 d-none">
        <img src="assets/img/apple-icon.webp" class="img-fluid me-2" width="12px" height="14px">
        <button style="background: #000;color: #fff; border: 0px solid #000" class="font-size-14 font-weight-500">Continue with Apple</button>
      </div>
      <div class="white-btn col-12 col-lg-8 d-flex flex-row justify-content-center align-items-center mt-4" (click)="signInWithGoogle()">
        <img src="assets/img/google-icon.webp" class="img-fluid me-2" width="12px" height="14px">
        <button style="background: #fff;color: #000; border: 0px solid #000" class="font-size-14 font-weight-500">Continue with Google</button>
      </div>
      <div class="sky-blue-btn col-12 col-lg-8 d-flex flex-row justify-content-center align-items-center mt-4 d-none">
        <img src="assets/img/facebook-icon.webp" class="img-fluid me-2" width="12px" height="14px">
        <button style="background: #0865fe;color: #fff; border: 0px solid #000" class="font-size-14 font-weight-500">Continue with Facebook</button>
      </div>
<!--      <app-create-team class="col-12"></app-create-team>-->
      <div class="grey-btn3 col-12 col-lg-8 d-flex flex-row justify-content-center align-items-center mt-4" routerLink="/signin2">
        <img src="assets/img/gmail-icon.webp" class="img-fluid me-2" width="16px" height="16px">
        <button style="background:#e5e0df;color: #000; border: 0px solid #000" class="email-btn font-size-14 font-weight-500">Continue with Email</button>
      </div>
      <div class="col-lg-4 col-6 d-flex flex-row justify-content-center mt-5 mb-4">
        <p class="font-size-12 hv-class font-weight-400 margin-terms grey-color me-3">Terms</p>
        <p class="font-size-12 hv-class font-weight-400 margin-terms grey-color me-3">Privacy</p>
        <p class="font-size-12 hv-class font-weight-400 margin-terms grey-color">Support</p>
      </div>

    </div>
  </div>

</div>
