<div class="page-background">
    <div class="container-fluid">
        <div class="sign-up-page">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-side-content">
                        <div class="logo-bar">
                            <a href=""><img src="../../../assets/img/logo.svg"></a>
                        </div>
                        <div class="left-side-content-text my-5">
                            <div class="left-side-content-heading">
                                <h2 class="left-side-content-heading-title">Forget Password</h2>
                            </div>
                            <form class="sign-up-email-form">
                                <div class="sign-up-input-group">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" placeholder="Enter email address" [(ngModel)]="email" name="email">
                                </div>
                                <div class="sign-up-email-form-btn">
                                    <button type="button"
                                        class="sign-up-email-form-continue-btn" (click)="sendOtp()">Set New Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="right-side-content">
                        <img src="../../../assets/img/dark-theme.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
