.background-image {
  /*background-image: url("src/assets/img/background-s-logo.png");*/
  width: 100%;
  height: 100vh;

}

.background-image2 {
  /*background-image2;*/
  width: 100%;
  height: 100vh;
}

.position-absolute-class {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1367px) {
  .margin-terms {
    margin-right: 1rem;
  }

}

.hv-class:hover {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #FFFFFF;
  color: #000 !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.hero-image-manage {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 57%;
}

.is-invalid {
  border: 2px solid red;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.with-icon {
  padding-right: 40px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" style="fill: red;"><path fill="red" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
}
