<!-- <div class="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background:#f7f3f2;;border-radius: 16px; width: 100%;">-->

<div class="modal-dialog modal-dialog-centered m-0 modal-lg">
  <div class="modal-content" style="background: #f7f3f2;">
    <div class="modal-header px-4" style="border:0px solid #f7f3f2;padding-bottom: 0px">
      <h1 class="modal-title font-size-16" id="exampleModalLabel">Stats</h1>
      <!--              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
     <div class="d-flex flex-row align-items-center justify-content-between">
       <img src="assets/img/share.webp" class="img-fluid me-3" width="24px" height="24px">
       <img src="assets/img/closebutton-icon.webp" class="img-fluid" width="24px" height="24px"
            (click)="close(null)"></div>
    </div>
    <div class="modal-body" style="border: 0px solid #f7f3f2;padding-bottom:0px;padding-top:0px;">
      <div class="d-flex flex-row justify-content-start mt-1 px-2">
        <span class="font-size-14 font-weight-400 font-gray-dark">Instagram Reel (Weekly)</span>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center col-12 my-3">
        <div class="d-flex flex-row justify-content-between col-12 col-md-6">
          <div class="d-flex flex-column justify-content-between align-items-center col-6 p-2">
           <div class="col-12 white-stats-background d-flex flex-column justify-content-between align-items-center">
             <span class="font-size-20 font-weight-500">1,098</span>
             <span class="font-size-14 font-weight-400">Impressions</span>
           </div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-center col-6 p-2">
            <div class="col-12 white-stats-background d-flex flex-column justify-content-between align-items-center">
              <span class="font-size-20 font-weight-500">156</span>
              <span class="font-size-14 font-weight-400">Clicks</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between col-12 col-md-6">
          <div class="d-flex flex-column justify-content-between align-items-center col-6 p-2">
            <div class="col-12 white-stats-background d-flex flex-column justify-content-between align-items-center">
              <span class="font-size-20 font-weight-500">13.7%</span>
              <span class="font-size-14 font-weight-400">Engagement</span>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-between align-items-center col-6 p-2">
            <div class="col-12 white-stats-background d-flex flex-column justify-content-between align-items-center">
              <span class="font-size-20 font-weight-500">8</span>
              <span class="font-size-14 font-weight-400">Comments</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #f7f3f2;padding-top: 0px;padding-bottom:1rem">

      <div class="col-12 d-flex flex-row ps-2">
      <div class="col-12 px-2">  <button class="light-green-btn col-12 font-size-14 font-weight-500">View Post on Instagram</button></div>
      </div>
    </div>
  </div>
</div>


