<div class="white-background" style="padding:0px;overflow-y:hidden;">
  <div class="position-absolute-class">
    <img src="assets/img/new-graphic-logo.webp" class="img-fluid d-none d-md-block background-image2">
    <img src="assets/img/graphic-mobile-logo.webp" class="img-fluid d-block d-md-none hero-image-manage">
  </div>
  <div class="text-center d-flex flex-column position-absolute col-12">
    <div class="col-12">
      <img src="assets/img/zollab-new-logo.webp" class="img-fluid" width="160px" height="34px"
           style="margin-top: 10rem;">
    </div>
    <div
      class="d-flex flex-column justify-content-between align-items-center mt-5 col-md-4 offset-md-4 col-10 offset-1">
      <form class="col-12 col-lg-8" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column justify-content-between align-items-center">
          <p class="text-center font-size-16 font-weight-500">Create a New Password</p>
          <p class="text-center font-size-14 font-weight-500 font-gray-dark">Your password must be at least 8 characters long and include a mix of letters, numbers, and symbols.
          </p>
        </div>
        <div class="d-flex flex-row invalid-feedback" *ngIf="formSubmitted && password1 !== password2">
          Passwords do not match.
        </div>
        <div class="d-flex flex-row invalid-feedback" *ngIf="formSubmitted && !validatePasswordPattern(password1)">
          Password must be at least 8 characters long and include at least one letter, one number, and one special character.
        </div>
        <div class="d-flex flex-column justify-content-between">
          <label class="d-flex flex-start font-size-12 font-weight-500" style="margin-bottom: 2px">New Password</label>
          <div *ngIf="formSubmitted && passwordRef.invalid">
            <div class="d-flex flex-row invalid-feedback"  *ngIf="passwordRef.errors?.['required']">Password is required.</div>
          </div>
          <input type="password" class="white-input-background font-size-14 font-weight-400" placeholder="New Password"
                 id="password1" name="password1" [(ngModel)]="password1" required #passwordRef="ngModel"
                 [ngClass]="{ 'is-invalid': formSubmitted && !validatePasswordPattern(password1) || password1 !== password2}"
                 [class.with-icon]="formSubmitted && !validatePasswordPattern(password1) || password1 !== password2">
        </div>
        <div class="d-flex flex-column justify-content-between mt-3">
          <label class="d-flex flex-start font-size-12 font-weight-500" style="margin-bottom: 2px">Confirm New Password</label>
          <div *ngIf="formSubmitted && password2Ref.invalid">
            <div class="d-flex flex-row invalid-feedback"  *ngIf="password2Ref.errors?.['required']">Confirm Password is required.</div>
          </div>
          <input type="password" class="white-input-background font-size-14 font-weight-400" placeholder="Confirm New Password"
                 id="password2" name="password2" [(ngModel)]="password2" required #password2Ref="ngModel"
                 [ngClass]="{ 'is-invalid': formSubmitted && !validatePasswordPattern(password1) || password1 !== password2}"
                 [class.with-icon]="formSubmitted && !validatePasswordPattern(password1) || password1 !== password2">
        </div>

        <div class="d-flex flex-column justify-content-between mt-4">
          <button class="black-btn" id="signin" type="submit">Reset Password</button>
        </div>
      </form>

      <div class="d-flex flex-column justify-content-between mt-3">
        <p class="font-size-12 font-weight-400 mt-1 mb-4 grey-color">
          <span>Terms</span>
          <span class="px-2">Privacy</span>
          <span>Support</span>
        </p>
      </div>


    </div>
  </div>

</div>
