<div class="workspace-step-1-page-container">
 <!-- <aside class="workspace-step-aside">
    <div class="workspace-step-aside-top">
      <span></span>
    </div>
  </aside>-->
  <div class="page-background w-100">
<!--    <div class="workspace-step-top"></div>-->
    <div class="workspace-step-1-page">
      <div class="workspace-step-1-add-project-details">
        <div class="workspace-step-1-heading">
          <p class="workspace-step-pages">Step 1 / 2</p>
          <h2 class="workspace-step-pages-title">What is the name of the brand/project?</h2>
          <p class="workspace-step-pages-sub-title">This will be the name of your workspace, choose
            something that your members can easily relate
            to. You can always change this later.</p>
        </div>
        <div class="workspace-step-1-input-group">
          <input type="text" class="form-control" required placeholder="Enter workspace name" [(ngModel)]="workspaceName">
          <small class="">Maximum 30 characters</small>
        </div>
        <div class="w-100">
          <button class="workspace-step-1-page-next-page-btn" (click)="onSubmit()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
