
<div class="white-background" style="padding:0px;overflow-y:hidden;">
  <!--  <div  class="col-12 d-flex flex-row justify-content-start align-items-start">-->
  <!--<img src="assets/img/arrow-left.webp" class="img-fluid" width="24px" height="24px">-->
  <!--  </div>-->
  <div class="position-absolute-class">
    <img src="assets/img/new-graphic-logo.webp" class="img-fluid d-none d-md-block background-image2">
    <img src="assets/img/graphic-mobile-logo.webp" class="img-fluid d-block d-md-none hero-image-manage">
  </div>
  <div class="text-center d-flex flex-column position-absolute col-12">
    <div class="col-12">
      <img src="assets/img/arrow-left.webp" class="img-fluid arrow-manage position-absolute" style="left: 0" width="24px" height="24px" (click)="backButton()">
      <img src="assets/img/zollab-new-logo.webp" class="img-fluid" width="160px" height="34px"
           style="margin-top: 10rem;">

    </div>
    <div
      class="d-flex flex-column justify-content-between align-items-center mt-5 col-md-4 offset-md-4 col-10 offset-1">

      <form class="col-12 col-lg-8">
        <div class="d-flex flex-column justify-content-between align-items-center">
          <p class="text-center font-size-16 font-weight-500">Success!</p>
          <p class="text-center font-size-14 font-weight-500 font-gray-dark">Your password has been successfully reset and you can now log in with your new password.
          </p>
        </div>
        <div class="d-flex flex-column justify-content-between mt-4">
          <button class="black-btn" id="resetLink" routerLink="/signin2">Go to Login</button>
        </div>
      </form>

      <div class="d-flex flex-column justify-content-between mt-3">
        <p class="font-size-12 font-weight-400 mt-1 mb-4 grey-color">
          <span>Terms</span>
          <span class="px-2">Privacy</span>
          <span>Support</span>
        </p>
      </div>


    </div>
  </div>

</div>
