<div class="Welcome-to-workspace workspace">
    <div class="leftside-bar">
        <div class="leftside-bar-top-content">
            <div class="leftside-bar-top-content-arrow">
                <div class="leftside-bar-top-content-arrow-box">
                    <img src="../../../../assets/img/leftside-bar-arrow.svg" id="open_img">
                </div>
            </div>
            <div class="left-side-bar-avatar-container">
                <div class="left-side-bar-avatar-list">
                    <div class="left-side-bar-avatar-item">
                        H
                    </div>
                    <div class="left-side-bar-avatar-item">
                        <img src="../../../../assets/img/profile-avatar.png">
                    </div>
                </div>
                <div class="left-side-bar-add-avatar-box">
                    <img src="../../../../assets/img/white_+.svg">
                </div>
            </div>
        </div>
        <div class="leftside-bar-bottom-content">
            <div class="leftside-bar-bottom-content-item-box">
                <div class="leftside-bar-bottom-content-item">
                    <a href="#"><img src="../../../../assets/img/leftside-bar-bottom..svg"></a>
                </div>
            </div>
            <div class="leftside-bar-bottom-content-item-box">
                <div class="leftside-bar-bottom-content-item">
                    <a href="#"><img src="../../../../assets/img/_.svg"></a>
                </div>
            </div>
            <div class="leftside-bar-bottom-content-item-box">
                <div class="leftside-bar-bottom-content-item">
                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../../assets/img/leftside-bar-bottom-2.svg"></a>
                    <ul class="dropdown-menu custom-dropdown">
                        <li><a class="dropdown-item" href="#">Profile settings</a></li>
                        <li><a class="dropdown-item" href="#">Plans &amp; billing</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- add "hide" class to hide this bar -->
    <!-- <div class="leftside-menu hide" id="leftside_menu"> -->
    <div class="leftside-menu " id="leftside_menu">
        <div class="leftside-menu-header">
            <div class="leftside-menu-header-name">
                <p>Workspace name</p>
            </div>
            <div class="leftside-menu-header-dropdown">
                <a href="#" class="" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../../assets/img/Ellipses.svg"></a>
                <ul class="dropdown-menu custom-dropdown">
                    <li><a class="dropdown-item" href="#">Manage members</a></li>
                    <li><a class="dropdown-item" href="#">Edit workspace</a></li>
                    <li><a class="dropdown-item" href="#">Roles and permission</a>
                    </li>
                    <li><a class="dropdown-item dnager-link" href="#">Leave workspace</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="leftside-menu-members-container">
            <p class="leftside-menu-titles">Members</p>
            <div class="leftside-menu-members-list">
                <div class="leftside-menu-members-list-item">
                    <div class="leftside-menu-members-list-item-name">
                        <img src="../../../../assets/img/mini-avatar.png">
                        <p>Stella bot</p>
                    </div>
                    <div class=""></div>
                </div>

            </div>
            <div class="add-member-box pointer" data-bs-toggle="modal" data-bs-target="#addmember">
                <div class="add-member-box-pulse-icon">
                    <img src="../../../../assets/img/white_+.svg">
                </div>
                <p>Add member</p>
            </div>
        </div>
        <div class="leftside-menu-channels-container">
            <p class="leftside-menu-titles">Channels</p>
            <div class="leftside-menu-channels-list">
                <div class="channels-name">
                    <p>#</p>
                    <p>Channel Name</p>
                </div>
                <div class="leftside-menu-list-count">
                    3
                </div>
            </div>
            <div class="add-channel-box pointer" data-bs-toggle="modal" data-bs-target="#addchannel">
                <div class="add-member-box-pulse-icon">
                    <img src="../../../../assets/img/white_+.svg">
                </div>
                <p>Add Channel</p>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="main-header">
            <div class="main-header-title-box">
                <div class="main-header-title">
                    <h6>#</h6>
                    <h6>Channel name</h6>
                </div>
                <p class="main-header-sub-title">Short description about the channel</p>
            </div>
            <div class="main-header-right-content">
                <div class="main-header-channel-member-container">
                    <div class="main-header-channel-member-list">
                        <img src="../../../../assets/img/avatar-famale.svg">
                    </div>
                    <div class="main-header-add-channel-memeber">
                        <img src="../../../../assets/img/white_+.svg">
                    </div>
                </div>
                <div class="m-none">|</div>
                <div class="main-header-more-links">
                    <div class="">
                        <a href="#" class="m-0">
                            <img src="../../../../assets/img/star.svg">
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="m-0">
                            <img src="../../../../assets/img/bell.svg">
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="m-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../../../assets/img/Ellipses.svg">
                        </a>
                        <ul style=" transform: translate(-133px, 10px); " class="dropdown-menu custom-dropdown"><a href="#" class="m-0" data-bs-toggle="dropdown" aria-expanded="false">
                            </a><li><a href="#" class="m-0" data-bs-toggle="dropdown" aria-expanded="false"></a><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editchannel">Edit channel</a></li>
                            <li><a class="dropdown-item dnager-link" href="#" data-bs-toggle="modal" data-bs-target="#leavechannel">Leave channel</a></li>
                            <li><a class="dropdown-item dnager-link" href="#" data-bs-toggle="modal" data-bs-target="#deletechannel">Delete Channel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="Welcome-to-workspace-box">
                <div class="welcome-channel-section-heading">
                    <h2 class="welcome-channel-heading-title">Welcome to #channel name!</h2>
                    <p class="welcome-channel-heading-sub-title">This is the beginning of the channel</p>
                </div>
                <div class="Welcome-to-workspace-box-nudge-list">
                    <div class="nudge-box" data-bs-toggle="modal" data-bs-target="#addmember">
                        <div class="nudge-box-detils">
                            <div class="nudge-box-detils-img">
                            </div>
                            <div class="nudge-box-detils-title">Invite channel members</div>
                        </div>
                        <div class="nudge-box-open-arrow">
                            <img src="../../../../assets/img/icon_send.svg" class="img-26x26">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <textarea placeholder="Write your message" class="main-footer-chat-box form-control"></textarea>
            <div class="main-footer-chat-box-helpful-link">
                <div class="main-footer-chat-box-links">
                    <div class="main-footer-chat-box-add-more-item"><img src="../../../../assets/img/white_+.svg"></div>
                    <div class=""><img src="../../../../assets/img/icon_mic.svg" class="img-20x20"></div>
                    <div class=""><img src="../../../../assets/img/Aa.svg" class="img-20x20"></div>
                </div>
                <div class="">
                    <img src="../../../../assets/img/icon_send.svg">
                </div>
            </div>
        </div>
    </main>
</div>


<!-- add member modal -->
<div class="modal fade" id="addmember" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addmember" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: transparent;">
            <div class="add-member-modal">
                <div class="add-member-modal-header">
                    <div class="add-member-modal-heading">
                        <h6 class="add-member-modal-title">Add members</h6>
                        <h6 class="add-member-modal-sub-title">Description</h6>
                    </div>
                    <button class="modal-close-btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="add-member-modal-body">
                    <form class="add-member-modal-form">
                        <label class="form-label">Example label</label>
                        <div class="add-member-modal-form-input-group">
                            <input type="email" class="form-control" placeholder="Email, comma separated">
                            <button type="submit" class="add-member-modal-add-btn">ADD</button>
                        </div>
                    </form>
                    <div class="add-member-modal-member-box">
                        <div class="add-member-modal-member">
                            <img src="./img/mini-avatar.png" class="img-24x24">
                            <p class="add-member-modal-member-name">Kate Buyers </p>
                        </div>
                        <div class="add-member-modal-member">
                            <img src="./img/mini-avatar.png" class="img-24x24">
                            <p class="add-member-modal-member-name">John Doe</p>
                        </div>
                        <div class="add-member-modal-member">
                            <img src="./img/mini-avatar.png" class="img-24x24">
                            <p class="add-member-modal-member-name">Roger Grim </p>
                        </div>
                        <div class="add-member-modal-member">
                            <img src="./img/mini-avatar.png" class="img-24x24">
                            <p class="add-member-modal-member-name">Elton John </p>
                        </div>
                    </div>
                </div>
                <div class="add-member-modal-footer">
                    <p class="add-member-modal-footer-title">Share this URL with members to invite them</p>
                    <div class="add-member-modal-link">
                        <p>https ://stella.app/8979870yij</p>
                        <button class="copy-link-btn">Copy link</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add member modal -->


<!-- create channel -->
<div class="modal fade" id="addchannel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addchannel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: transparent;">
            <div class="add-member-modal">
                <div class="add-member-modal-header">
                    <div class="add-member-modal-heading">
                        <h6 class="add-member-modal-title">Create channel</h6>
                    </div>
                    <button class="modal-close-btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="add-member-modal-body">
                    <div class="regular-from-group">
                        <label>Channel name</label>
                        <div class="input-group">
                            <span class="input-group-text create-channel-modal-input-text border-end-0">#</span>
                            <input type="text" class="form-control border-start-0" placeholder="new-channel name">
                        </div>
                    </div>
                    <div class="regular-from-group">
                        <label>Description (Optional)</label>
                        <textarea class="form-control modal-textarea" placeholder="Enter details"></textarea>
                    </div>
                </div>
                <div class="add-member-modal-footer">
                    <div class="d-flex align-items-center justify-content-end w-100">
                        <button type="button" class="body-footer-cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" class="body-footer-save-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create channel -->


