<div class="modal-dialog modal-dialog-centered m-0 modal-lg">
  <div class="modal-content" style="background: #f7f3f2;">
    <div class="modal-header" style="border:0px solid #f7f3f2;padding-bottom: 0px">
      <h1 class="modal-title font-size-16" id="exampleModalLabel">Approved</h1>
      <!--              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      <img src="assets/img/closebutton-icon.webp" class="img-fluid" width="24px" height="24px" (click)="close(false)">
    </div>
    <div class="modal-body" style="border: 0px solid #f7f3f2;padding-bottom: 0px;">
      <div class="d-flex flex-row justify-content-start mb-2">
        <span class="font-size-12 font-weight-500">
         Thank you for your approval. We’ll notify the project stakeholders.
        </span>
      </div>
    </div>
  </div>
</div>


