.header-section-class{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.body-section-class{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.hv-class:hover{
  color: #565151;
}
.hv-class-new:hover{
  background: #fff;
  cursor: pointer;
}
.footer-section-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media  screen and (max-width: 374px) {
  .adjust-font-size{
    font-size: 14px;
  }
}
@media  screen and (max-width: 540px) {
  .mobile-spacing-class{
    position: absolute;
    bottom: 0rem;
    padding: 0rem 1rem;
    right: 0;
  }

}

@media  screen and (max-width: 767px) {
  ajust-font-size2{
    font-size: 14px;
  }
  .font-size-manage{
    font-size: 32px;
    font-weight: 500;
  }
  .white-hide-class{
    background: #f7f3f2;
    border-radius: 8px;
    padding:0px 8px;
    border: 0px solid #f7f3f2;
  }
  .gray-hide-class{
    background:#f7f3f2;
    border-radius: 8px;
    border: 0px solid #f7f3f2;
    padding: 8px 8px;

  }
  .padding-manage-class{
    padding: 0rem 1rem;
  }
  .desktop-laptop-img-widht{
    width: 24px;
    height: 24px;
  }
  .margin-adjust{
    margin-bottom: 0.5rem;
  }
}
@media  screen and (min-width: 768px) {

  .font-size-manage{
    font-size: 14px;
    font-weight: 500;
  }
  .white-hide-class{
    background: #fff;
    border-radius: 8px;
    padding:0px 8px;
    border: 0px solid #fff;
  }
  .gray-hide-class{
    background:#e5e0df;
    border-radius: 8px;
    border: 0px solid #e5e0df;
    padding: 8px 8px;

  }
  .desktop-laptop-img-widht{
    width: 16px;
    height: 16px;
  }
}
@media  screen and (min-width: 768px) and (max-width: 1023px) {

  .adjust-font-size2{
    font-size: 12px;
  }
  .padding-manage-class{
    padding: 0rem 3rem;
  }
}
.purple-div-class{
  background: #e8daff;
  color: #6929C4 ;
  border-radius: 8px;
  padding: 8px;
}
.purple-color{
  color: #6929C4 ;
}

.grey-btn2:hover{
  background: #e5e0df;
  border-radius: 8px;
  padding:12px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  background-clip: padding-box;
  border: 0px solid #000;
  cursor: pointer;
  outline:none;
}
.light-green-btn:hover{
  background:#a9ff1c;
  border-radius: 8px;
  padding:12px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  background-clip: padding-box;
  border: 0px solid #000;
  cursor: pointer;
}
.white-button-new{
  background:#f7f3f2;
  color: #000;
  border: 1px solid #e5e0df;
  border-radius: 8px;
  padding: 10px;
}

.border-danger {
  border: 2px solid red;
}

.with-icon {
  padding-right: 40px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" style="fill: red;"><path fill="red" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
}
