<div class="modal-dialog modal-dialog-centered m-0 modal-lg"
     style="background: #f7f3f2; border: 0px solid #000;border-radius:8px">
  <div class="modal-content" style="background: #f7f3f2;">
    <div class="modal-header" style="border:0px solid #000;padding-bottom: 0px">
      <div class="d-flex flex-row justify-content-start align-items-center col-6">
        <h1 class="modal-title font-size-16 font-weight-500 text-dark" id="exampleModalLabel">
          <img src="assets/img/arrow-left.webp" class="img-fluid me-3" width="24px" height="24px">campaign_oct.zip</h1>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-end col-6">
        <img src="assets/img/white-share-icon.webp" class="img-fluid" width="24px" height="24px">
        <img src="assets/img/white-cloud-icon.webp" class="img-fluid mx-2" width="24px" height="24px">
        <img src="assets/img/closebutton-icon.webp" class="img-fluid" width="24px" height="24px"
             (click)="close(null)">
      </div>
    </div>
    <div class="modal-body mb-4" style="border: 0px solid #f7f3f2;padding-bottom:0px;">
      <div class="d-flex flex-column justify-content-between col-12">
        <div class="col-12 d-flex flex-column justify-content-between align-items-center my-5">
            <img src="assets/img/gray-folder.webp" width="96px" height="96px" class="img-fluid">
            <span class="font-size-14 font-weight-500">campaign_oct.zip</span>
        </div>
      </div>
      <div class="white-div d-flex flex-row justify-content-between col-12 align-items-center mt-4">
        <input type="text" class="col-9 white-input font-size-14 font-weight-400" placeholder="Message">
        <img src="../../../assets/img/gray-smile-emoji.webp" class="img-fluid" width="24px" height="24px">
        <img src="assets/img/gray-img-icon.webp" class="img-fluid mx-1" width="24px" height="24px">
        <img src="assets/img/gray-document-icon.webp" class="img-fluid" width="24px" height="24px">
      </div>
    </div>
  </div>

