<div class="workspace deal-pages">
  <app-left-menu (selectedWorkspace)="updateWorkspace($event)" (hideLeftMenu)="hideLeftMenu = $event"
                 [hideLeftBar]="hideLeftMenu"></app-left-menu>
  <app-selected-workspace *ngIf="!!selectedWorkspace" [selectedWorkspace]="selectedWorkspace"
                          [membersInvited]="membersInvited"></app-selected-workspace>
  <main class="twosidebar-flow">
    <form [formGroup]="deliverableForm" (ngSubmit)="create()">
      <div class="twosidebar-flow-head">
        <div class="flow-head-title align-items-center">
          <img src="../../../../assets/img/tasks.svg">
          <h6>Deliverables</h6>
        </div>
        <div class="flow-head-use-links" [routerLink]="['/deliverable']"
             [state]="{selectedWorkspace: selectedWorkspace}">
          <a [routerLink]="['/deliverable']" [state]="{selectedWorkspace: selectedWorkspace}"><img
                  src="../../../../assets/img/close.svg" class="img-14x14"></a>
        </div>
      </div>
      <div class="twosidebar-flow-body">
        <div class="create-deliverable-from">
          <div class="regular-from-section">
            <div class="regular-from-group">
              <label>Deal</label>
              <select class="form-select max-700" formControlName="dealId" *ngIf="!!selectedDeal; else select_deal"
                      [(ngModel)]="selectedDeal.id" [ngClass]="{ 'is-invalid': submitted && f['dealId'].errors }">
                <option selected [value]="selectedDeal.id">{{selectedDeal.summary}}</option>
              </select>
              <ng-template #select_deal>
                <select class="form-select max-700" formControlName="dealId"
                        [ngClass]="{ 'is-invalid': submitted && f['dealId'].errors }"
                        (change)="onDealSelection($event)">
                  <option *ngFor="let deal of deals" [value]="deal.id">{{deal.summary}}</option>
                </select>
              </ng-template>

              <div *ngIf="submitted && f['dealId'].errors" class="invalid-feedback">
                <div *ngIf="f['dealId'].errors['required']">Deal is required</div>
              </div>
            </div>

            <div class="row w-100">
              <div class="align-items-end col-md-5 d-flex">
                <div class="regular-from-group max-258">
                  <label>Creator</label>
                  <select class="form-select" formControlName="creatorId"
                          [ngClass]="{ 'is-invalid': submitted && f['creatorId'].errors }">
                    <option *ngFor="let creator of creators"
                            [value]="creator.memberId">{{!!creator.memberName ? creator.memberName : creator.memberEmail}}</option>
                  </select>
                  <div *ngIf="submitted && f['creatorId'].errors" class="invalid-feedback">
                    <div *ngIf="f['creatorId'].errors['required']">Creator is required</div>
                  </div>
                </div>
                <div class="w-100 ps-md-2 pt-1 pt-md-0  md-end-right">
                  <p (click)="inviteMembers()"
                     class="m-0 creator-invite-link d-flex align-items-center gap-1 text-decoration-none ">
                    <img src="../../../../assets/img/white_+.svg" width="10px" height="10px">
                    Invite Creator
                  </p>
                </div>
                <!--<button class="btn btn-dark mt-3 ms-3" type="button" (click)="inviteMembers()"> Invite Creator</button>-->
              </div>
              <div class="col-md-3">
                <div class="create-deal-from-row">
                  <div class="regular-from-group max-258">
                    <label>Priority</label>
                    <select class="form-select" formControlName="priority"
                            [ngClass]="{ 'is-invalid': submitted && f['priority'].errors }">
                      <option value="Low">Low</option>
                      <option value="Medium">Medium</option>
                      <option value="High">High</option>
                    </select>
                    <div *ngIf="submitted && f['priority'].errors" class="invalid-feedback">
                      <div *ngIf="f['priority'].errors['required']">Priority is required</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="regular-from-group">
              <label>Deliverable summary</label>
              <div class="input-group">
                <input type="text" class="form-control border-end-0" value="Add summary" formControlName="summary"
                       maxlength="50" [ngClass]="{ 'is-invalid': submitted && f['summary'].errors }">
                <span class="input-group-text">0/50</span>
                <div *ngIf="submitted && f['summary'].errors" class="invalid-feedback">
                  <div *ngIf="f['summary'].errors['required']">Summary is required</div>
                </div>
              </div>
            </div>
            <div class="regular-from-group">
              <label>Description</label>
              <div class="description-box">
                <textarea placeholder="Enter deal details" class="form-control" formControlName="description"
                          [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
               <div class="description-box-useful-link">
                  <!--<a href="#"><img src="assets/img/attachment.svg" class="img-20x20"></a>
                  <a href="#"><img src="assets/img/nature-img.svg" class="img-20x20"></a>
                  <a href="#"><img src="assets/img/icon_mic.svg" class="img-20x20"></a>-->
                </div>
                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                  <div *ngIf="f['description'].errors['required']">Description is required</div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="regular-from-section">
              <div class="regular-from-group">
                  <h6 class="regular-from-section-title">Evidences</h6>
                  <p class="regular-from-section-sub-title">Add the list of evidences for this
                      deliverable</p>
              </div>
              <div class="d-flex flex-column align-items-start w-100" style="gap:8px;">
                  <div class="regular-from-group" *ngFor="let evidence of evidences">
                      <div class="d-flex align-items-baseline w-100 justify-content-between">
                          <input type="text" class="form-control w-90" [value]="evidence.name" disabled="">
                          <img src="assets/img/dustbin.svg" class="img-20x20 pointer" (click)="deleteEvidence(evidence)">
                      </div>
                  </div>
                  <div class="regular-from-group">
                      <label for="fileUpload" title="Upload" class="d-flex align-items-baseline w-100 justify-content-between">
                        <div class="d-flex align-items-baseline w-100 justify-content-between">
                          <div class="form-control w-90">Enter required evidence</div>
                        </div>
                      </label>
                      <input #fileUpload id="fileUpload" title="upload" onclick="this.value = null" type="file" class="file-input"
                             (change)="addEvidence($event)" accept="*" multiple/>
                  </div>
                <div class="regular-from-group" *ngFor="let evidence of urlEvidences">
                  <div class="d-flex align-items-baseline w-100 justify-content-between">
                    <input type="text" class="form-control w-90" [value]="evidence" disabled="">
                    <img src="assets/img/dustbin.svg" class="img-20x20 pointer" (click)="deleteUrlEvidence(evidence)">
                  </div>
                </div>
                <div class="regular-from-group">
                  <label for="url" title="Upload" class="d-flex align-items-baseline w-100 justify-content-between">
                    <div class="d-flex align-items-baseline w-100 justify-content-between">
                      <input #url id="url" title="upload"  type="text" class="form-control w-90" placeholder="Enter Required Evidence URL">
                      <img src="assets/img/pulse.svg" class="img-20x20 pointer" (click)="addEvidenceUrl(url)">
                    </div>
                  </label>

                </div>
              </div>
          </div>-->

          <div class="regular-from-section" formGroupName="repeatConf">
            <div class="regular-from-group">
              <h6 class="regular-from-section-title">Repeat</h6>
            </div>
            <div class="create-deal-from-row">
              <div class="regular-from-group max-258">
                <label>Repeat</label>
                <select class="form-select" (change)="selectRepeat($event)" formControlName="schType">
                  <option selected>Never</option>
                  <option>Once</option>
                  <option>Daily</option>
                  <option>Weekly</option>
                  <option>Monthly</option>
                </select>
              </div>
              <div class="regular-from-group max-258" *ngIf="repeatType === 'Once'">
                <label>Due on</label>
                <div class="input-group">
                  <input class="form-control border-end-0" ngbDatepicker #date="ngbDatepicker" [minDate]="minDate"
                         placeholder="dd-mmm-yyyy" formControlName="date"
                         [ngClass]="{ 'is-invalid': submitted && deliverableForm.get('repeatConf.date')?.errors }">
                  <span class="input-group-text" (click)="date.toggle()"><img src="../../../../assets/img/calender.svg"
                                                                              class="img-20x20"></span>
                  <div *ngIf="submitted && deliverableForm.get('repeatConf.date')?.errors" class="invalid-feedback">
                    <div *ngIf="deliverableForm.get('repeatConf.date')?.errors">Date is required</div>
                  </div>
                </div>
              </div>
              <div class="regular-from-group max-258" *ngIf="repeatType === 'Weekly'">
                <label>On day</label>
                <select class="form-select" formControlName="day"
                        [ngClass]="{ 'is-invalid': submitted && deliverableForm.get('repeatConf.day')?.errors }">
                  <option value="Mon">Every Monday</option>
                  <option value="Tue">Every Tuesday</option>
                  <option value="Wed">Every Wednesday</option>
                  <option value="Thu">Every Thursday</option>
                  <option value="Fri">Every Friday</option>
                  <option value="Sat">Every Saturday</option>
                  <option value="Sun">Every Sunday</option>
                </select>
                <div *ngIf="submitted && deliverableForm.get('repeatConf.day')?.errors" class="invalid-feedback">
                  <div *ngIf="deliverableForm.get('repeatConf.day')?.errors">Day is required</div>
                </div>
              </div>

              <div class="regular-from-group max-258" *ngIf="repeatType === 'Monthly'"
                   [ngClass]="{ 'is-invalid': submitted && deliverableForm.get('repeatConf.monthDay')?.errors }">
                <label>Date</label>
                <select class="form-select" formControlName="monthDay">
                  <option selected="">Select dates</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                </select>
                <div *ngIf="submitted && deliverableForm.get('repeatConf.monthDay')?.errors" class="invalid-feedback">
                  <div *ngIf="deliverableForm.get('repeatConf.monthDay')?.errors">Date is required</div>
                </div>
              </div>

            </div>
            <div class="regular-from-group"
                 *ngIf="repeatType ===  'Weekly' || repeatType == 'Daily' || repeatType === 'Monthly'">
              <label>Ends on</label>
              <div class="d-flex flex-column align-items-start w-100" style="gap: 15px;">

                <div class="deliverable-weekly-section">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="schEndsType" id="never"
                           formControlName="schEndsType" value="never">
                    <label class="form-check-label" for="never">
                      Never
                    </label>
                  </div>
                </div>

                <div class="deliverable-weekly-section">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="schEndsType" id="On_date"
                           formControlName="schEndsType" value="on">
                    <label class="form-check-label" for="On_date">
                      Ends on expiration date
                    </label>
                  </div>
                  <div class="input-group">
                    <input class="form-control border-end-0" ngbDatepicker #schEndsDate="ngbDatepicker"
                           placeholder="dd-mmm-yyyy" formControlName="schEndsDate">
                    <span class="input-group-text" (click)="schEndsDate.toggle()"><img src="../../../../assets/img/calender.svg"
                                                                                       class="img-20x20"></span>
                  </div>
                </div>
                <div class="deliverable-weekly-section">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="schEndsType" id="occurrences"
                           formControlName="schEndsType" value="after">
                    <label class="form-check-label" for="occurrences">
                      After occurrences
                    </label>
                  </div>
                  <div class="regular-from-group">
                    <input type="text" placeholder="Enter number" class="form-control"
                           formControlName="schEndsOccurences">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--<div class="regular-from-section">
              <div class="regular-from-group">
                  <h6 class="regular-from-section-title">Repeat</h6>
              </div>
              <div class="create-deal-from-row">
                  <div class="regular-from-group max-258">
                      <label>Repeat</label>
                      <select class="form-select">
                          <option selected="">Never</option>
                          <option>One</option>
                          <option>Two</option>
                          <option>Three</option>
                      </select>
                  </div>
                  <div class="regular-from-group max-258">
                      <label>On day</label>
                      <select class="form-select">
                          <option selected="">Every Monday</option>
                          <option>One</option>
                          <option>Two</option>
                          <option>Three</option>
                      </select>
                  </div>
              </div>
              <div class="regular-from-group">
                  <label>Ends on</label>
                  <div class="d-flex flex-column align-items-start w-100" style="gap: 15px;">
                      <div class="deliverable-weekly-section">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="On_date">
                              <label class="form-check-label" for="On_date">
                                  On date
                              </label>
                          </div>
                          <div class="input-group">
                              <input type="date" class="form-control border-end-0">
                              <span class="input-group-text"><img src="assets/img/calender.svg" class="img-20x20"></span>
                          </div>
                      </div>
                      <div class="deliverable-weekly-section">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="occurrences">
                              <label class="form-check-label" for="occurrences">
                                  After occurrences
                              </label>
                          </div>
                          <div class="regular-from-group">
                              <input type="text" placeholder="Enter number" class="form-control">
                          </div>
                      </div>
                  </div>
              </div>
          </div>-->

          <!--<div class="regular-from-section">
              <div class="regular-from-group">
                  <h6 class="regular-from-section-title">Repeat</h6>
              </div>
              <div class="create-deal-from-row">
                  <div class="regular-from-group max-258">
                      <label>Repeat</label>
                      <select class="form-select">
                          <option selected="">Monthly</option>
                          <option>One</option>
                          <option>Two</option>
                          <option>Three</option>
                      </select>
                  </div>
                  <div class="regular-from-group max-258">
                      <label>Date</label>
                      <select class="form-select">
                          <option selected="">Select dates</option>
                          <option>One</option>
                          <option>Two</option>
                          <option>Three</option>
                      </select>
                  </div>
              </div>
              <div class="regular-from-group">
                  <label>Ends on</label>
                  <div class="d-flex flex-column align-items-start w-100" style="gap: 15px;">
                      <div class="deliverable-weekly-section">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="On_date">
                              <label class="form-check-label" for="On_date">
                                  On date
                              </label>
                          </div>
                          <div class="input-group">
                              <input type="date" class="form-control border-end-0">
                              <span class="input-group-text"><img src="assets/img/calender.svg" class="img-20x20"></span>
                          </div>
                      </div>
                      <div class="deliverable-weekly-section">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="occurrences">
                              <label class="form-check-label" for="occurrences">
                                  After occurrences
                              </label>
                          </div>
                          <div class="regular-from-group">
                              <input type="text" placeholder="Enter number" class="form-control">
                          </div>
                      </div>
                  </div>
              </div>
          </div>-->


          <!--<div class="regular-from-section">
            <div class="regular-from-group">
              <h6 class="regular-from-section-title">drafts</h6>
              <p class="regular-from-section-sub-title">add attachments for this deliverable
              </p>
            </div>
            <div class="deliverable-edit-not-started-evidences align-items-start">
              <div class="deliverable-edit-not-started-evidences align-items-start" id="draftFilesContainer">
              </div>
              <div class="regular-from-group">
                <label for="fileUpload" title="Upload"
                       class="d-flex align-items-baseline w-100 justify-content-between">
                  <a role="button" class="add-member-box-pulse-icon">
                    <img src="assets/img/rouder-add-tag.svg">
                  </a>
                </label>
                <input #fileUpload id="fileUpload" title="upload" onclick="this.value = null" type="file"
                       class="file-input"
                       (change)="addDraftFiles($event)" accept="*"/>
              </div>
            </div>
          </div>-->
          <div class="regular-from-section">
            <div class="regular-from-group">
              <h6 class="regular-from-section-title">drafts</h6>
              <p class="regular-from-section-sub-title">add links/attachments for this deliverable
              </p>
            </div>
            <div class="deliverable-edit-not-started-evidences align-items-start">
              <div class="deliverable-edit-not-started-evidences align-items-start" id="draftLinksContainer">
              </div>
              <a role="button" class="add-member-box-pulse-icon" (click)="addDraftLinks()">
                <img src="../../../../assets/img/rouder-add-tag.svg">
              </a>
            </div>
          </div>

          <div class="regular-from-section">
            <div class="regular-from-group">
              <h6 class="regular-from-section-title">live posts</h6>
              <p class="regular-from-section-sub-title">add links to live posts for this deliverable
              </p>
            </div>
            <div class="deliverable-edit-not-started-evidences align-items-start">
              <div class="deliverable-edit-not-started-evidences align-items-start" id="livePostsContainer">
              </div>
              <a role="button" class="add-member-box-pulse-icon" (click)="addLivePost()">
                <img src="../../../../assets/img/rouder-add-tag.svg">
              </a>
            </div>
          </div>


          <!--<div class="regular-from-section">
            <div class="regular-from-group">
              <h6 class="regular-from-section-title">Live Posts</h6>
              <p class="regular-from-section-sub-title">Add links to Live Posts for the deliverables
              </p>
            </div>
          </div>-->

          <div class="regular-from-section">
            <div class="regular-from-group">
              <h6 class="regular-from-section-title">Review Workflow</h6>
              <p class="regular-from-section-sub-title">Add setting for the reviewing your
                deliverable</p>
            </div>

            <div class="regular-from-group">
              <div class="form-check form-switch my-check">
                <input class="form-check-input" type="checkbox" role="switch" id="workflow"
                       formControlName="reviewerRequired">
                <label class="form-check-label" for="workflow">No review workflow required
                </label>
              </div>
            </div>
          </div>
          <div class="regular-from-section">
            <div class="regular-from-group">
              <h6 class="regular-from-section-title">NoTIFICATION</h6>
              <p class="regular-from-section-sub-title">Notification updates for the
                deliverable</p>
            </div>
            <div class="regular-from-group">
              <div class="form-check form-switch my-check">
                <input class="form-check-input" type="checkbox" role="switch" id="postupdate" checked="">
                <label class="form-check-label" for="postupdate">Post updates on this deliverable in the
                  channel
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-body-footer-container main-body-footer-absolute mt-5">
        <button type="button" class="body-footer-cancel-btn" [routerLink]="['/deliverable']"
                [state]="{selectedWorkspace: selectedWorkspace}">Cancel
        </button>
        <button type="submit" class="body-footer-save-btn">Save</button>
      </div>
    </form>
  </main>
  <app-right-menu [workspace]="selectedWorkspace" [hideRightBar]="hideLeftMenu"
                  (hideRightMenu)="hideLeftMenu = $event"></app-right-menu>
</div>
