<div class="page-background">
    <div class="set-up-profile-page">
        <div class="set-up-profile-logo-bar">
            <img src="../../../assets/img/logo.svg">
        </div>
        <div class="set-up-profile-main-content">
            <div class="set-up-profile-content-heading">
                <h2 class="set-up-profile-content-title">Set up your profile</h2>
                <p class="set-up-profile-content-sub-title">Add profile photo, name and bio to let people know
                    who
                    you are</p>
            </div>
            <form class="set-up-profile-form" [formGroup]="profileForm" (ngSubmit)="onSubmit();$event.stopPropagation()">
                <!--<div class="set-up-profile-add-image">
                    <img src="assets/img/profile-add-up-white-arrow.png">
                    <div class="set-up-profile-image-plus-avatar">
                        <img src="assets/img/+.svg">
                    </div>
                </div>-->

              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
                  <label for="imageUpload" *ngIf="editFile" [ngClass]="['custom-label', 'upload-image']"></label>
                  <label *ngIf="removeUpload" [ngClass]="['custom-label', 'remove-image']" (click)="removeUploadedFile()"></label>
                </div>
                <div class="avatar-preview">
                  <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                  </div>
                </div>
              </div>

                <div class="set-up-profile-input-group">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
                </div>
                <div class="set-up-profile-input-group">
                    <label class="form-label">Set password</label>
                    <div class="input-group">
                      <input
                        [type]="showPass ? 'text' : 'password'"
                        class="form-control password-field border-end-0"
                        placeholder="Enter password"
                        formControlName="password"
                      />
                      <button
                        class="input-group-text password-eye-btn"
                        type="button"
                        (click)="showPass = !showPass"
                      >
                        <img
                          [src]="
                            !showPass
                              ? 'assets/img/pass-hide.png'
                              : 'assets/img/pass-show.png'
                          "
                        />
                      </button>
                    </div>
                  </div>                <div class="set-up-profile-input-group">
                    <label class="form-label">Bio</label>
                    <textarea class="form-control" placeholder="Brief description for your profile." formControlName="bio" ></textarea>
                </div>
                <div class="set-up-profile-btn">
                    <button type="submit" class="set-up-profile-next-btn">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
