.dark-screen{
  /*width: 100%;*/
  /*min-height: 100vh;*/
  color: #fff;
  background: #000;
  /*position: relative;*/
}
.img-position{
  position: absolute;
  top: 45%;
  left: 45%;

}
@media screen and (max-width: 767px) {
  .img-position{
    position: absolute;
    top: 45%;
    left: 41%;
  }
}

/* Flash class and keyframe animation */
.flashit{
  color:#f2f;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 0.4s infinite;
}
@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
