<div>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-center ">
    <div class="modal-content" style="background: transparent;">
      <div class="add-member-modal">
        <div class="add-member-modal-header">
          <div class="add-member-modal-heading">
            <h6 class="add-member-modal-title">Add members</h6>
            <h6 class="add-member-modal-sub-title">Add members</h6>
          </div>
          <button class="modal-close-btn" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">x</button>
        </div>
        <div class="add-member-modal-body">

          <form class="add-member-modal-form" >
            <!-- (ngSubmit)="addData()" -->

            <label class="form-label">Email</label>
            <div class="add-member-modal-form-input-group">
              <input type="email" #email class="add-member-modal-link" placeholder="Email" [ngbTypeahead]="search"
                     [inputFormatter]="formatter" [resultFormatter]="formatter" (selectItem)="addMember($event)"
                     [(ngModel)]="user" name="email">
            </div>
            <div class="add-member-modal-member-box">
              <div>
                <ul *ngFor="let item of dataMembers">
                   <li >{{item.email}}</li>
                </ul>
              </div>
            </div>
          </form>
        </div>

        <div class="add-member-modal-footer">
          <p class="add-member-modal-footer-title">Share this URL with members to invite them</p>
          <div class="add-member-modal-link">
            <p>{{inviteUrl}}</p>
            <button class="copy-link-btn">Copy link</button>
          </div>

          <div class="d-flex align-items-center justify-content-end w-100 adjust-margin">
            <button type="button" class="body-footer-cancel-btn" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.close()">Cancel</button>
            <button type="submit" class="body-footer-save-btn" (click)="inviteMembers()">Save</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
