<div class="editing-page">
  <app-profile-menu></app-profile-menu>
    <main class="editing-page-wrapper">
        <div class="edit-profile-container">
            <h2 class="profile-page-title">Password</h2>
            <form class="edit-profile-password-content" id="passwordForm" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="edit-profile-password-input">
                    <label>Current password</label>
                    <div class="input-group">
                        <input [type]="showPass1 ? 'text' : 'password'" class="form-control" placeholder="Enter password" formControlName="oldPassword">
                      <button class="input-group-text password-eye-btn" type="button" (click)="showPass1 = !showPass1"><img [src]="!showPass1 ? 'assets/img/pass-hide.png' : 'assets/img/pass-show.png'"></button>
                    </div>
                </div>
                <div class="edit-profile-password-input">
                    <label>New password</label>
                    <div class="input-group">
                        <input [type]="showPass2 ? 'text' : 'password'" class="form-control" placeholder="Enter new password" formControlName="newPassword">
                      <button class="input-group-text password-eye-btn" type="button" (click)="showPass2 = !showPass2"><img [src]="!showPass2 ? 'assets/img/pass-hide.png' : 'assets/img/pass-show.png'"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="main-body-footer-container main-body-footer-absolute mt-5">
            <button type="button" class="body-footer-cancel-btn" [routerLink]="['/']">Cancel</button>
            <button type="submit" class="body-footer-save-btn" form="passwordForm">Save</button>
        </div>
    </main>
    <div class="open-asidebar" onclick="openasidebar()">
        <img src="../../../../assets/img/icon_send.svg" id="open_img">
    </div>
</div>
