<div class="page-background">
    <div class="workspace-creation-page">
        <div class="workspace-creation-logo-bar">
            <div class="workspace-creation-logo">
                <img src="../../../assets/img/logo.svg">
            </div>
            <div class="workspace-creation-logobar-user-info">
                <img class="workspace-creation-logobar-user-avatar" src="../../../assets/img/mini-avatar.png">
                <p class="workspace-creation-logobar-user-name">Name</p>
            </div>
        </div>
        <div class="workspace-creation-user-welcome-section">
            <div class="workspace-creation-user-welcome-content">
                <div class="">
                    <h2 class="workspace-creation-content-title">Welcome {{name}}</h2>
                    <p class="workspace-creation-content-sub-title">Now simplify your creator’s world, with
                        a
                        better organized, productive and easier tool</p>
                </div>
                <div class="w-100">
                    <button class="workspace-create-btn" [routerLink]="['/CreateWorkspaceStepOne']">Create a workspace</button>
                </div>
            </div>
            <div class="workspace-creation-user-welcome-img">
                <img src="../../../assets/img/workspace.jpg">
            </div>
        </div>
        <div class="workspace-creation-footer-content">
            <h5 class="workspace-creation-footer-title m-0"><a href="#">Privacy &amp; Terms</a> | <a href="#">Contact us</a></h5>
            <p class="workspace-creation-terms-and-policy-text">By continuing, you agree to our Terms of Service
                and acknowledge that you have read our Privacy
                Policy to learn how we collect, use, and share your data.</p>
        </div>
    </div>
</div>
