<div class="Welcome-to-workspace workspace">
    <div class="leftside-bar">
        <div class="leftside-bar-top-content">
            <div class="leftside-bar-top-content-arrow">
                <div class="leftside-bar-top-content-arrow-box">
                    <img src="../../../assets/img/leftside-bar-arrow.svg" id="open_img">
                </div>
            </div>
            <div class="left-side-bar-avatar-container">
                <div class="left-side-bar-avatar-list">
                    <div class="left-side-bar-avatar-item">
                        H
                    </div>
                    <div class="left-side-bar-avatar-item">
                        <img src="../../../assets/img/profile-avatar.png">
                    </div>
                </div>
                <div class="left-side-bar-add-avatar-box">
                    <img src="../../../assets/img/white_+.svg">
                </div>
            </div>
        </div>
        <div class="leftside-bar-bottom-content">
            <div class="leftside-bar-bottom-content-item-box">
                <div class="leftside-bar-bottom-content-item">
                    <a href="#"><img src="../../../assets/img/leftside-bar-bottom..svg"></a>
                </div>
            </div>
            <div class="leftside-bar-bottom-content-item-box">
                <div class="leftside-bar-bottom-content-item">
                    <a href="#"><img src="../../../assets/img/_.svg"></a>
                </div>
            </div>
            <div class="leftside-bar-bottom-content-item-box">
                <div class="leftside-bar-bottom-content-item">
                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../assets/img/leftside-bar-bottom-2.svg"></a>
                    <ul class="dropdown-menu custom-dropdown">
                        <li><a class="dropdown-item" href="#">Profile settings</a></li>
                        <li><a class="dropdown-item" href="#">Plans &amp; billing</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- add "hide" class to hide this bar -->
    <!-- <div class="leftside-menu hide" id="leftside_menu"> -->
    <div class="leftside-menu " id="leftside_menu">
        <div class="leftside-menu-header">
            <div class="leftside-menu-header-name">
                <p>Workspace name</p>
            </div>
            <div class="leftside-menu-header-dropdown">
                <a href="#" class="" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../../assets/img/Ellipses.svg"></a>
                <ul class="dropdown-menu custom-dropdown">
                    <li><a class="dropdown-item" href="#">Manage members</a></li>
                    <li><a class="dropdown-item" href="#">Edit workspace</a></li>
                    <li><a class="dropdown-item" href="#">Roles and permission</a>
                    </li>
                    <li><a class="dropdown-item dnager-link" href="#">Leave workspace</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="leftside-menu-members-container">
            <p class="leftside-menu-titles">Members</p>
            <div class="leftside-menu-members-list">
                <div class="leftside-menu-members-list-item">
                    <div class="leftside-menu-members-list-item-name">
                        <img src="../../../assets/img/mini-avatar.png">
                        <p>Stella bot</p>
                    </div>
                    <div class=""></div>
                </div>

            </div>
            <div class="add-member-box pointer" data-bs-toggle="modal" data-bs-target="#addmember">
                <div class="add-member-box-pulse-icon">
                    <img src="../../../assets/img/white_+.svg">
                </div>
                <p>Add member</p>
            </div>
        </div>
        <div class="leftside-menu-channels-container">
            <p class="leftside-menu-titles">Channels</p>
            <div class="leftside-menu-channels-list">
                <div class="channels-name">
                    <p>#</p>
                    <p>Channel Name</p>
                </div>
                <div class="leftside-menu-list-count">
                    3
                </div>
            </div>
            <div class="add-channel-box pointer" data-bs-toggle="modal" data-bs-target="#addchannel">
                <div class="add-member-box-pulse-icon">
                    <img src="../../../assets/img/white_+.svg">
                </div>
                <p>Add Channel</p>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="main-header">
            <div class="main-header-title-box">
                <div class="main-header-title">
                    <h6>#</h6>
                    <h6>Channel name</h6>
                </div>
                <p class="main-header-sub-title">Short description about the channel</p>
            </div>
            <div class="main-header-right-content">
                <div class="main-header-channel-member-container">
                    <div class="main-header-channel-member-list">Jk</div>
                    <div class="main-header-channel-member-list">Jk</div>
                    <div class="main-header-channel-member-list">Jk</div>
                    <div class="main-header-channel-member-list">
                        <img src="../../../assets/img/avatar-famale.svg">
                    </div>
                    <div class="main-header-add-channel-memeber">
                        <img src="../../../assets/img/white_+.svg">
                    </div>
                </div>
                <div class="m-none">|</div>
                <div class="main-header-more-links">
                    <div class="">
                        <a href="#" class="m-0">
                            <img src="../../../assets/img/star.svg">
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="m-0">
                            <img src="../../../assets/img/bell.svg">
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="m-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../../assets/img/Ellipses.svg">
                        </a>
                        <ul style=" transform: translate(-133px, 10px); " class="dropdown-menu custom-dropdown"><a href="#" class="m-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </a><li><a href="#" class="m-0" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editchannel">Edit channel</a></li>
                                <li><a class="dropdown-item dnager-link" href="#" data-bs-toggle="modal" data-bs-target="#leavechannel"> Leave channel</a></li>
                                <li><a class="dropdown-item dnager-link" href="#" data-bs-toggle="modal" data-bs-target="#deletechannel">Delete Channel</a></li>
                            </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="user-message-container">
                <div class="user-message-day-and-time">
                    <span>Today</span>
                </div>
                <div class="user-message-box">
                    <div class="user-profile-img">
                        <img src="../../../assets/img/profile-avatar.png">
                    </div>
                    <div class="user-chat-details">
                        <div class="user-name-detail">
                            <p class="user-message-box-user-name">Elton John</p><span class="user-message-time">21:40</span>
                        </div>
                        <div class="user-chat">
                            This is sample entered message
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-message-container">
                <div class="user-message-day-and-time">
                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui veritatis</span>
                </div>
                <div class="user-message-box">
                    <div class="user-profile-img">
                        <img src="../../../assets/img/profile-avatar.png">
                    </div>
                    <div class="user-chat-details">
                        <div class="user-name-detail">
                            <p class="user-message-box-user-name">Elton John</p><span class="user-message-time">21:40</span>
                        </div>
                        <div class="user-chat">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto illum ab laboriosam.
                            Id
                            possimus aliquam repellat necessitatibus atque nobis commodi tempora similique
                            excepturi
                            quas eum, officiis harum asperiores placeat ipsam quidem minus enim animi maiores
                            quam
                            dolorem mollitia consequuntur velit. Expedita, velit?Lorem, ipsum dolor sit amet
                            consectetur adipisicing elit. Cupiditate et quas quis autem. Illum dolor molestias
                            sunt
                            velit mollitia architecto aperiam ad, consequuntur optio animi quisquam, repellat
                            voluptas est vel nesciunt porro.
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-message-container">
                <div class="user-message-day-and-time">
                    <span>Last week</span>
                </div>
                <div class="user-message-box">
                    <div class="user-profile-img">
                        <img src="../../../assets/img/profile-avatar.png">
                    </div>
                    <div class="user-chat-details">
                        <div class="user-name-detail">
                            <p class="user-message-box-user-name">Elton John</p><span class="user-message-time">21:40</span>
                        </div>
                        <div class="user-chat">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto illum ab laboriosam.
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-message-container">
                <div class="user-message-day-and-time">
                    <span>Last week</span>
                </div>
                <div class="user-message-box">
                    <div class="user-profile-img">
                        <img src="../../../assets/img/profile-avatar.png">
                    </div>
                    <div class="user-chat-details">
                        <div class="user-name-detail">
                            <p class="user-message-box-user-name">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quae officiis ad ipsam.</p><span class="user-message-time">24:00</span>
                        </div>
                        <div class="user-chat">
                            <img src="../../../assets/img/profile-avatar.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-message-container">
                <div class="user-message-day-and-time">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
                <div class="user-message-box">
                    <div class="user-profile-img">
                        <img src="../../../assets/img/profile-avatar.png">
                    </div>
                    <div class="user-chat-details">
                        <div class="user-name-detail">
                            <p class="user-message-box-user-name">Elton John</p><span class="user-message-time">21:40</span>
                        </div>
                        <div class="user-chat">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto illum ab laboriosam.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia
                            provident quia ipsa voluptatum nobis, numquam voluptates cupiditate delectus porro
                            suscipit saepe possimus libero adipisci deleniti tempora, explicabo ad, facere eum
                            perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                            veritatis eos, eveniet, aliquam rerum repudiandae aspernatur voluptate magnam
                            placeat deserunt asperiores exercitationem. Mollitia eligendi sint qui beatae sit
                            excepturi, architecto asperiores officiis adipisci. Quis ducimus placeat quam
                            repudiandae sit atque tenetur architecto ipsam, natus, minima fugiat temporibus.
                            Adipisci placeat reprehenderit similique molestias voluptatibus neque repellendus?
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <textarea placeholder="Write your message" class="main-footer-chat-box form-control"></textarea>
            <div class="main-footer-chat-box-helpful-link">
                <div class="main-footer-chat-box-links">
                    <div class="main-footer-chat-box-add-more-item"><img src="../../../assets/img/white_+.svg"></div>
                    <div class=""><img src="../../../assets/img/icon_mic.svg" class="img-20x20"></div>
                    <div class=""><img src="../../../assets/img/Aa.svg" class="img-20x20"></div>
                </div>
                <div class="">
                    <img src="../../../assets/img/icon_send.svg">
                </div>
            </div>
        </div>
    </main>
</div>



<!-- edit channel modal -->
<div class="modal fade" id="editchannel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editchannel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: transparent;">
            <div class="add-member-modal">
                <div class="add-member-modal-header">
                    <div class="add-member-modal-heading">
                        <h6 class="add-member-modal-title">Edit channel</h6>
                        <p class="add-member-modal-sub-title">Elton John on Jan 20, 2023</p>
                        <p class="add-member-modal-sub-title">Channel ID : COBV98970087</p>
                    </div>
                    <button class="modal-close-btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="add-member-modal-body">
                    <div class="regular-from-group">
                        <label>Channel name</label>
                        <div class="input-group">
                            <span class="input-group-text create-channel-modal-input-text border-end-0">#</span>
                            <input type="text" class="form-control border-start-0" placeholder="new-channel name">
                        </div>
                    </div>
                    <div class="regular-from-group">
                        <label>Description (Optional)</label>
                        <textarea class="form-control modal-textarea" placeholder="Enter details"></textarea>
                    </div>
                </div>
                <div class="add-member-modal-footer">
                    <div class="d-flex align-items-center justify-content-end w-100">
                        <button type="button" class="body-footer-cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" class="body-footer-save-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- edit channel modal -->


<!-- leave channel modal -->
<div class="modal fade" id="leavechannel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="leavechannel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: transparent;">
            <div class="add-member-modal border-0">
                <div class="add-member-modal-header">
                    <div class="add-member-modal-heading">
                        <h6 class="add-member-modal-title m-0">Leave channel</h6>
                    </div>
                    <button class="modal-close-btn m-0" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="add-member-modal-body">
                    <div class="delete-modal-body">
                        <p class="delete-modal-body-sub-title">If you delete this channel all conversations and
                            messages from this channel will be removed immediately . Once deleted this action
                            cannot be undone.</p>
                    </div>
                </div>
                <div class="add-member-modal-footer">
                    <div class="delete-modal-footer">
                        <button type="button" class="delete-modal-cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" class="delete-modal-delete-btn">Leave channel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- leave channel modal -->


<!-- delete channel modal -->
<div class="modal fade" id="deletechannel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletechannel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: transparent;">
            <div class="add-member-modal border-0">
                <div class="add-member-modal-header">
                    <div class="add-member-modal-heading">
                        <h6 class="add-member-modal-title m-0">Delete channel</h6>
                    </div>
                    <button class="modal-close-btn m-0" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="add-member-modal-body">
                    <div class="delete-modal-body">
                        <p class="delete-modal-body-sub-title">If you delete this channel all conversations and
                            messages from this channel will be removed immediately . Once deleted this action
                            cannot be undone.</p>
                    </div>
                </div>
                <div class="add-member-modal-footer">
                    <div class="delete-modal-footer">
                        <button type="button" class="delete-modal-cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" class="delete-modal-delete-btn">Delete channel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- delete channel modal -->
